{% extends "index.html" %}

{% block title %}
  {{ page.title }} | {{ config.title }}
{% endblock title %}

{% block extra_head %}
  <meta name="keywords" content="{{page.taxonomies.tags | join(sep=', ')}}, {{ config.extra.site_keywords | join(sep=', ')}}">

  {% if payment_pointer %}
    <meta name="monetization" content="{{ payment_pointer | trim }}">
  {% endif %}

  {% if page.description %}
    <meta name="description" content="{{page.description}}">
  {% endif %}

  {% if page.extra.canonical_url %}
    <link rel="canonical" href="{{page.extra.canonical_url}}">
  {% endif %}
{% endblock extra_head %}


{% block content %}

{% set translation = page.translations | filter(attribute="lang", value=other_lang) | nth(n=0)  %}

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date(format="%Y-%m-%d") }}
    {% if page.extra.canonical_url %}
    | {{ trans(key="published_in", lang=page.lang) }} 
    <a href="{{page.extra.canonical_url}}">
      {{ page.extra.canonical_url | split(pat="/") | nth(n=2)  }}
    </a>
    {% endif %}
    | {{ page.reading_time }} {{ trans(key="min_read", lang=page.lang) }}
    {% if translation %}
    | <a href="{{ translation.permalink }}">
        {{ trans(key="read_in", lang=translation.lang) }}
      </a>
    {% endif %}
  </span>

  {% if page.updated %}
    <blockquote>
      {{ trans(key="last_updated", lang=page.lang) }}: {{ page.updated }}
    </blockquote>
  {% endif %}

  {{ page.content | safe }}

    <hr>
    {% if page.extra.shared %}
      {%set links = page.extra.shared | length %}
      {% if links == 1 %}
        <p>
          {{ trans(key="leave_comment", lang=page.lang) }}
          {{ trans(key="leave_comment_single_platform", lang=page.lang) }} 
          <a rel="noopener" target="_blank" href="{{ page.extra.shared[0][1] }}">
            {{ page.extra.shared[0][0] }}
          </a>. 
        </p>
      {% else %}
        <p>
          {{ trans(key="leave_comment", lang=page.lang) }}
          {{ trans(key="leave_comment_multi_platform", lang=page.lang) }}
        </p>
        <ul>
          {% for platform in page.extra.shared %}
          <li><a rel="noopener" target="_blank" href="{{ platform[1] }}">{{ platform[0] }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}

      <p>{{ trans(key="reach_out", lang=page.lang) | capitalize }}</p>
    {% else %}
      <p>{{ trans(key="reach_out_share", lang=page.lang) | capitalize }}</p>
    {% endif %}

    <ul>
      {% if config.extra.twitter %}
        <li>Twitter <a rel="noopener me" target="_blank" href="{{ config.extra.twitter.link }}">
          {{ config.extra.twitter.user }}
        </a></li> 
      {% endif %}
      {% if config.extra.mastodon %}
      <li>Mastodon <a rel="noopener me" target="_blank" href="{{ config.extra.mastodon.link }}">
        {{ config.extra.mastodon.user }}
      </a></li>
      {% endif %}
    </ul>

    <p>{{ trans(key="buymeacoffee", lang=page.lang) }}</p>
    <a href="{{ config.extra.buymeacoffee_link }}"
      style="display: flex; justify-content: center;"
      target="_blank"
    >
      <img src="https://cdn.buymeacoffee.com/buttons/v2/default-blue.png"
        alt="Buy Me A Coffee"
        style="height: 60px !important;width: 217px !important;" 
      />
    </a>
</div>
{% endblock content %}

